*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
font-family: 'Post No Bills Jaffna Light Regular';
font-family: 'Playfair Display', serif;
font-family: 'PT Sans', sans-serif;
*/

.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
}
.top_header_block {
    background-color: #000;
    color: #969696;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 15px 0 22px 0;
}
.header_block_row {
    display: flex;
    justify-content: space-between;
}
.contacts {
    display: flex;
}
.tel_number {
    position: relative;
    padding-left: 25px;
}
.tel_number::before {
    background: url(../img/eva_phone-outline.png) 0 0 no-repeat;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
}
.work_time {
    position: relative;
    padding-left: 25px;
}
.work_time::before {
    position: absolute;
    left: 14px;
    top: 2px;
    content: "";
    width: 1px;
    height: 11px;
    background-color: #969696;
}
.time {
    position: relative;
    padding-left: 25px;
}
.time::before {
    position: absolute;
    left: 14px;
    top: 2px;
    content: "";
    width: 1px;
    height: 11px;
    background-color: #969696;
}
.regitration_link {
    text-decoration: none;
    color: #969696;
}
.regitration_link {
    position: relative;
    padding-left: 20px;
}
.regitration_link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url(../img/ic_sharp-log-in.png) 0 0 no-repeat;
    width: 14px;
    height: 14px;
}

/*Logo - Menu*/
.header_menu {
    background-color: #0F0F0F;
    padding: 25px 0;
}